{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{% block body %}
    {{ include ('partials/log_out.html.twig') }}

    <h1>Listado de contacto</h1>
    {% if contactos %}
        {% for contacto in contactos %}
            {{ include ('partials/datos_contacto.html.twig', {'contacto': contacto}) }}
        {% endfor %}
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}